@font-face {
  font-family: Helvetica;
  src: url("fonts/helvetica_regular.otf");
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-grey, #cacad6);
  background: var(--white, #f6f4f5);
}

.container {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  align-self: center;
  margin-right: 214px;
  flex-direction: row;
  gap: 20px;
}

.header-text {
  color: #5c5c5e;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-logo {
  width: 235px;
  height: 42px;
  margin-right: 476px;
}

.header-bag {
  width: 24px;
  height: 24px;
}

.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero section */

.hero-section {
  width: 100%;
  height: 1200px;
  background-image: url(./img/hero-bgpng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* outline: 1px solid rgb(153, 0, 255); */
  margin-bottom: 100px;
}

.hero-title {
  color: var(--grey, #5c5c5e);

  /* H0 */
  font-family: Helvetica;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  padding-top: 230px;
}

.hero-paragraph {
  color: var(--grey, #5c5c5e);

  /* H1 */
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.hero-price {
  color: var(--grey, #5c5c5e);

  /* text 13 */
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.hero-btn-content {
  position: relative;
}

.hero-button {
  color: var(--white, #f6f4f5);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 21px 111px;
  align-items: flex-start;
  gap: 10px;
  background: var(
    --gradient,
    linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
  );
  margin-bottom: 10px;
}

.button-price {
  color: var(--grey, #5c5c5e);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 0px;
  left: 297px;
  padding: 20px 105px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid var(--gradient, #bc10d8);
  background: rgba(217, 217, 217, 0);
}

.hero-p {
  color: var(--grey, #5c5c5e);
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Advantage Section */

.advantage-section {
  position: relative;
  padding-bottom: 200px;
}

.advantage-title {
  color: var(--grey, #5c5c5e);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 84px;
}

.advantage-text {
  color: var(--grey, #5c5c5e);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advantage-text:hover {
  color: var(--Black, #070707);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advantage-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantage-content {
  position: absolute;
  display: flex;
  top: 0px;
  right: 950px;
  flex-direction: column;
}

.advantage-content2 {
  position: absolute;
  display: flex;
  top: 100px;
  right: 630px;
  flex-direction: column;
}

.advantage-line {
  position: absolute;
  width: 1px;
  height: 300px;
  background: #cacad6;
  right: -20px;
  top: 105px;
}

.content-text {
  width: 329px;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: var(
    --gradient,
    linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantage-img {
  width: 580px;
  height: 300px;
  margin-top: 20px;
}

.advantage-video {
  width: 280px;
  height: 150px;
  flex-shrink: 0;
}

.advantage-graphics {
  color: var(--grey, #5c5c5e);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advantage-paragraph {
  width: 273px;
  color: var(--grey, #5c5c5e);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 10px;
}

.play-img {
  position: absolute;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  top: 230px;
  left: 30px;
}

.advantage-watch {
  color: var(--white, #f6f4f5);
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 285px;
  left: 12px;
}

/* games section */

.games-section {
  position: relative;
}

.games {
  color: var(--grey, #5c5c5e);

  /* menu */
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.games-title {
  width: 300px;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: var(
    --gradient,
    linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.games-subtitle {
  width: 300px;
  color: var(--grey, #5c5c5e);

  /* text 16 */
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.games-button {
  width: 225px;
  height: 50px;
  flex-shrink: 0;
  /* button */
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid var(--gradient, #bc10d8);
  background: rgba(217, 217, 217, 0);
  background: var(
    --gradient,
    linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.games-content {
  position: absolute;
  top: 80px;
  right: 650px;
}

.games-list {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.games-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 0;
  border: 1px solid var(--gradient, #bc10d8);
  background: rgba(217, 217, 217, 0);
}

.games-img {
  width: 260px;
  height: 280px;
  margin-bottom: 10px;
}

.games-text {
  color: var(--Black, #070707);

  /* H2 */
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.games-paragraph {
  color: var(--grey, #5c5c5e);

  /* text 16 */
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 259px;
  margin-bottom: 60px;
}

.games-link {
  /* text 16 */
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(
    --gradient,
    linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
